
<!-- main app container -->
<div >
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
             
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"  novalidate>
                  <div class="form-group">
                      <label for="Name"> Name</label>
                      <input type="text"
                       class="form-control"
                        name="name" 
                        [(ngModel)]="bank.name"
                         #name="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" 
                          required />
                      <div *ngIf="f.submitted && name.invalid"
                       class="invalid-feedback">
                          <div *ngIf="name.errors.required"> Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary">Save</button>
                  </div>
              </form>
              <button class="btn btn-primary" (click)="goBack()">Back</button><br><br>
          </div>
      </div>
  </div>
</div>
